* {
   box-sizing:border-box;
}

html,body {
   height:100%;
   overflow:hidden;
}

body {
   margin:0px;
   background:#f6f6f6;
   padding:20px 0px 0px 20px;
   font-family:sans-serif;
}

#viz {
   width:100%;
   height:100%;
   position:fixed;
}

#chart {
   width:100%;
   height:100%;
}

#legend {
   display:inline;
   position:absolute;
   font-size:12px;
   top:125px;
   left:625px;
   margin:0px;
}

svg * {
   padding:0px;
}

.axis {
}

.axis path {
   fill:none;
   stroke:#a9a9a9;
}

.tick line {
   stroke:#a9a9a9;
}

.tick text {
   font-size:0.6em;
   font-weight:lighter;
}

.label {
   font-size:0.8em;
   font-weight:lighter;
   fill:#585858;
}

.player {
   opacity:0.8;
}

.player path {
   stroke-width:2.0;
}

.player .button {
   font-size:7.5px;
}

.player .button:hover {
   cursor:pointer;
   font-weight:bold;
}

.allstar line.top {
   stroke:blue;
}

.hof line.top {
   opacity:0;
   stroke:#f6f6f6;
}

line.end {
}

.hof {
   stroke:black;
}

.hof text {
   stroke:none;
   fill:black;
}

.allstar {
   stroke:black;
   opacity:0.8;
}

.allstar text {
   stroke:none;
   fill:blue;
}

.bar {
   fill:#80B1D3;
   opacity:0.8;
   stroke:#f6f6f6;
}

#text {
   position:fixed;
}

#header {
   position:absolute;
   width:600px;
   z-index:1;
}

h4 {
   margin:0px 0px 0px 15px;
   font-weight:600;
}

h3 {
   margin:0px 0px 0px 15px;
   font-weight:300;
}

#sumbtn {
   position:absolute;
   opacity:0;
}

#btnlabel {
   width:25px;
   height:20px;
   font-size:14px;
   text-decoration:underline;
   color:blue;
   position:fixed;
   top:41px;
   left:398px;
}

#btnlabel:hover {
   cursor:pointer;
   color:orange;
}

#summary {
   position:absolute;
   width:600px;
   top:40px;
   z-index:1;
   background-color:#f6f6f6;
   border:1px solid #efefef;
}

#closebtn {
   position:absolute;
   right:5px;
   font-weight:600;
   top:-1px;
}

#closebtn:hover {
   cursor:pointer;
   color:#888888;
   font-weight:600;
}

#sumbtn:checked ~ #btnlabel {
   height:100%;
   width:100%;
   left:0px;
   top:0px;
   padding-left:398px;
   padding-top:41px;
}

#summary p {
   margin:12px 0px 0px 15px;
   font-size:13px;
   line-height:1.25;
}

#stats {
   display:inline;
   font-size:12px;
   width:450px;
}

div span {
   font-weight:lighter;
}

span.button {
   opacity:0.35;
}

span.button:hover {
   cursor:pointer;
   opacity:1;
}

span.selected {
   opacity:1;
}

#opers {
   display:inline;
   position:absolute;
   font-size:12px;
   margin:0px 0px 0px 15px;
   top:125px;
   width:600px;
}

#filter {
   display:inline;
   margin:0px 0px 0px 12px;
   width:225px;
}

.filter {
   display:none;
}

.highlight {
   opacity:1;
   stroke-width:2;
}

.highlight path {
   opacity:1;
   stroke-width:2;
}

div.name {
   display:inline;
   padding:0px 6px 0px 0px;
   font-weight:lighter;
   background:#f0f0f0;
   border-right:2px solid #f6f6f6;
   cursor:default;
}

#Star {
   color:blue;
}

#info {
   top:100px;
   left:80px;
   margin:0px 0px 0px 15px;
   position:absolute;
   width:250px;
}

#name {
   margin:0px;
   font-weight:bold;
}

#history {
   font-size:14px;
   padding:6px 0px;
}

#xp {
   padding:4px 0px;
}

#stat {
}

#link {
   display:none;
   padding:4px 0px;
   font-size:11px;
}

#footer {
   position:fixed;
   width:100px;
   bottom:0px;
   left:15px;
   font-size:11px;
}

@media screen and (min-height:750px) {
#sumbtn {
   visibility:hidden;
}
#btnlabel {
   visibility:hidden;
}
#summary {
   display:block;
   border:none;
}
#closebtn {
   visibility:hidden;
}
#info {
   position:absolute;
   top:175px;
   left:80px;
}
}

@media screen and (max-height:750px) {

#summary {
   display:none;
   margin-left:15px;
   padding-bottom:15px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index:1;
}
#opers {
   top:50px;
}
#legend {
   top:50px;
}
#footer {
   position:absolute;
   top:630px;
   left:-5px;
}
}